title: SHIANBROWN

.body
  .logo
    a href="../index.html"
      = image_tag "shianbrown_logo_vertical.svg"
  .works
    div.worksImg
      a href="http://pkd.jp/"
        img src="Philip_K_Dick_Brand_Site/pkd_top.png" alt="pkd_top"
      a href="http://pkd.jp/"
        img src="Philip_K_Dick_Brand_Site/pkd_product.png" alt="pkd_top"
      a href="http://pkd.jp/"
        img src="Philip_K_Dick_Brand_Site/pkd_menue.png" alt="pkd_top"
  .textWrapper
    p.title
      | Philip K Dick Brand Site
    p.worksText
      |アメリカのSF作家のオフィシャル・サイトのデザインと構築を担当
       Philip K. Dick Estate公認の〈PKD〉ブランド・オフィシャル・サイト。
       <br>〈PKD〉は、アメリカのSF作家フィリップ・K・ディックの翻訳作品を多く出版する出版社、早川書房が立ち上げたブランドで、PKD作品の新装幀を手がけるポジトロンの土井宏明氏をプロダクト・デザイナーに迎え、ディックの作品世界をイメージした先鋭的なプロダクトを展開。
       <br>サイトには、作品に登場するシーンを元にした細かいギミックをふんだんに盛り込み、デザイン面においては映画『ブレードランナー』をイメージしてテレビノイズの質感を採用。ポイントカラーとギミックをプロダクトのモチーフとなった作品に合わせて変更できる設計とした。
    .buttonWrapper
      .LaunchButton
        .buttonText
          a href="http://pkd.jp/" target="_blank" Launch Site
  div.worksWrapper
    div.worksList
      ul.worksTitle
        li
          a href="#" Philip K Dick Brand Site
        li
          a href="#" ONE HUNDRED PERCENT ISSUE 001
        li
          a href="#" QRATES
        li
          a href="#" Flowers For Algernon New Edition
        li
          a href="#" UNIBA WORKS 2015
        li
          a href="#" DATA NABE
        li
          a href="#" POSITRON
        li
          a href="#" JAPAN CIVILIZATION
        li
          a href="#" NewOrdr (Typeface)
