@charset "utf-8";
@import "normalize";

$bgc: bgColor;

* {
  margin: 0; padding: 0;
}

@font-face {
  font-family: 'Druk Wide Web';
  src: url('/fonts/DrukWide-HeavyItalic-Web.eot');
  src: url('/fonts/DrukWide-HeavyItalic-Web.eot?#iefix') format('embedded-opentype'),
  url('/fonts/DrukWide-HeavyItalic-Web.woff2') format('woff2'),
  url('/fonts/DrukWide-HeavyItalic-Web.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}
p.index {
  position: fixed;
  left: 40px;
  top: 30px;
  font-family: 'Druk Wide Web';
  font-weight: 800;
  font-style: italic;
  letter-spacing: 2px;
  transform-origin: left bottom;
  font-size: 18px;
  letter-spacing: 2px;
  a {
    text-decoration: none;
    color: #000;
  }
}
.nextWrapper {
  .next {
    position: fixed;
    right: 40px;
    top: calc(50% - 10px);
    border-radius: 10px;
    height: 20px;
    width: 20px;
    background-color: #000;
    display: block;
    a {
      color: #000;
      display: block;
      height: 30px;
      &:hover {
        border-radius: 10px;
        height: 20px;
        width: 20px;
        background-color: #00BF8A;
      }
    }
  }
}
.PREVWrapper {
  position: relative;
  .PREV {
    position: fixed;
    font-weight: 800;
    left: 50px;
    top: calc(50% - 10px);
    border-radius: 10px;
    height: 20px;
    width: 20px;
    background-color: #000;
    display: block;
    a {
      color: #000;
      display: block;
      height: 30px;
      &:hover {
        border-radius: 10px;
        height: 20px;
        width: 20px;
        background-color: #00BF8A;
      }
    }
  }
}
.works {
  clear: left;
  margin: 0 auto;
}
.worksImg {
  .spimg {
    display: none;
  }
}

.worksImg {
  text-align: center;
  padding-top: 120px;
   img {
     width: 60%;
     display: block;
     margin: 0 auto;
     margin-bottom: 140px;
     text-align: center;
   }
   video {
     width: 60%;
     display: block;
     margin: 0 auto;
     margin-bottom: 140px;
     text-align: center;
   }
}
.textWrapper {
  width: 60%;
  margin: 0 auto;
  p.title {
    font-family: 'Druk Wide Web';
    font-size: 28px;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
    padding-bottom: 50px;
  }
  .worksText {
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0.1em;
    transform: scale( 1 , 1.1 );
    text-align: justify;
    a{
      color: #000;
    }
  }
}
.LaunchButton {
  margin-top: 60px;
  .buttonText {
    text-align: center;
    a {
      display: block;
      position: relative;
      z-index: 2;
      font-family:Helvetica;
      font-weight: 500;
      letter-spacing: 0.03em;
      width: 400px;
      height: 80px;
      border: 1px solid #000000;
      text-decoration: none;
      color: #000000;
      font-size: 24px;
      line-height: 80px;
      overflow: hidden;
      transition: all .1s ease;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        z-index: -1;
        background-color: #000000;
        transition: all .1s ease;
        color:  #ffffff;
      }
      &:hover {
        color: #ffffff;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
.LaunchButtonClose {
  margin-top: 60px;
  .buttonText {
    text-align: center;
      display: block;
      position: relative;
      z-index: 2;
      font-family:Helvetica;
      font-weight: 500;
      letter-spacing: 0.03em;
      width: 400px;
      height: 80px;
      border: 1px solid #000000;
      text-decoration: none;
      color: #000000;
      font-size: 24px;
      line-height: 80px;
      overflow: hidden;
      opacity: 0.3;
  }
}
.worksWrapper {
  text-align: center;
  clear: left;
}

.worksList {
  margin-top: 260px;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 60%;
  ul.worksTitle {
    overflow: hidden;
    padding-top: 140px;
    padding-bottom: 50px;
    li {
      font-family: 'Druk Wide Web';
      list-style: none;
      font-size: 28px;
      font-weight: 800;
      font-style: italic;
      line-height: 2em;
      letter-spacing: 2px;
      a {
        text-decoration: none;
        color: #000000;
        display: inline-block;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 4px;
          background-color: #000000;
          transition: all .1s ease;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.profile {
  font-size: 30px;
  padding-bottom: 100px;
  width: 60%;
  margin: 0 auto;
  p {
    line-height: 1.8em;
    font-weight: 800;
    letter-spacing: 2px;
    a {
      text-decoration: none;
      color: #000000;
      display: inline-block;
      position: relative;
      text-align: left;

      &::after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 0;
        height: 4px;
        background-color: #000000;
        transition: all .1s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
