@charset "utf-8";
@import "normalize";

$bgc: bgColor;

* {
  margin: 0; padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}
.nextWrapper {
  // position: relative;
  .next {
    position: fixed;
    right: 110px;
    top: calc(50% - 20px);
    display: block;
    a {
      &:after {
        content: '';
        width: 40px;
        height: 40px;
        border: 0px;
        border-top: solid 3px #000;
        border-right: solid 3px #000;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -4px;
        cursor: pointer;
      }
    }
  }
}
.previousWrapper {
  position: relative;
  .previous {
    position: fixed;
    left: 70px;
    top: calc(50% - 20px);
    display: block;
    a {
      &:after {
        content: '';
        width: 40px;
        height: 40px;
        border: 0px;
        border-top: solid 3px #000;
        border-right: solid 3px #000;
        -ms-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -4px;
        cursor: pointer;
      }
    }
  }
}
.works {
  clear: left;
}
.worksImg {
  .spimg {
    display: none;
  }
}

.worksImg {
  text-align: center;
  padding-top: 40px;
   img {
     width: 70%;
     margin-top: 100px;
     text-align: center;
   }
}
p.title {
  position: fixed;
  top: 40px;
  left: 60px;
  font-size: 50px;
  font-weight: 800;
  font-style: italic;
  line-height: 1.5em;
  transform: scale(1,0.7);
  letter-spacing: 2px;
  z-index: 1;
  a {
    color: #000;
    text-decoration: none;
    span {
      display: block;
      position: relative;
      &.back {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
      }
      &:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 5px;
        background-color: #000000;
      }
    }
  }
  &:hover {
    a {
      span.maintitle {
        visibility: hidden;
      }
      span.back {
        visibility: visible;
      }
    }
  }
}
.textWrapper {
  width: 70%;
  padding-top: 80px;
  margin: 0 auto;
  .worksText {
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0.1em;
    transform: scale( 1 , 1.1 );
    text-align: justify;
  }
}
.LaunchButton {
  margin-top: 60px;
  .buttonText {
    text-align: center;
    a {
      display: block;
      position: relative;
      z-index: 2;
      font-family:Helvetica;
      font-weight: 500;
      letter-spacing: 0.03em;
      width: 400px;
      height: 80px;
      border: 1px solid #000000;
      text-decoration: none;
      color: #000000;
      font-size: 24px;
      line-height: 80px;
      overflow: hidden;
      transition: all .1s ease;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        z-index: -1;
        background-color: #000000;
        transition: all .1s ease;
        color:  #ffffff;
      }
      &:hover {
        color: #ffffff;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
.LaunchButtonClose {
  margin-top: 60px;
  .buttonText {
    text-align: center;
      display: block;
      position: relative;
      z-index: 2;
      font-family:Helvetica;
      font-weight: 500;
      letter-spacing: 0.03em;
      width: 400px;
      height: 80px;
      border: 1px solid #000000;
      text-decoration: none;
      color: #000000;
      font-size: 24px;
      line-height: 80px;
      overflow: hidden;
      opacity: 0.3;
  }
}
.worksWrapper {
  text-align: center;
  clear: left;
}

.worksList {
  margin-top: 260px;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 70%;
  ul.worksTitle {
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 50px;
    li {
      list-style: none;
      font-size: 40px;
      font-weight: 800;
      font-style: italic;
      transform: scale(1,0.7);
      line-height: 1.5em;
      letter-spacing: 1px;
      // transform: scale( 1 , 0.7 );
      a {
        text-decoration: none;
        color: #000000;
        display: inline-block;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 4px;
          background-color: #000000;
          transition: all .1s ease;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.profile {
  font-size: 40px;
  padding-bottom: 100px;
  width: 70%;
  margin: 0 auto;
  p {
    line-height: 1.5em;
    font-weight: 800;
    font-style: italic;
    transform: scale(1,0.7);
    line-height: 1.5em;
    a {
      text-decoration: none;
      color: #000000;
      display: inline-block;
      position: relative;
      text-align: left;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #000000;
        transition: all .1s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}