@charset "utf-8";
@import "normalize";

* {
  margin: 0; padding: 0;
}

@font-face {
  font-family: 'Druk Wide Web';
  src: url('/fonts/DrukWide-HeavyItalic-Web.eot');
  src: url('/fonts/DrukWide-HeavyItalic-Web.eot?#iefix') format('embedded-opentype'),
  url(fonts'/fonts/DrukWide-HeavyItalic-Web.woff2') format('woff2'),
  url(fonts'/fonts/DrukWide-HeavyItalic-Web.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
}

body {
  background: #fff;
  font-family: "Druk Wide Web","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;

  &::before {
    content: ' ';
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background-color: #FFF;
    transition: opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1),
                height .1s linear .5s;
    z-index: 100;
  }
}

.logotext {
  position: fixed;
  top: (60px + 348px);
  right: 50px;
  z-index: 10;
  transform: rotate(90deg);
  transform-origin: right top;
  will-change: transform;

  a, img {
    display: block;
    width: 348px;
    height: 60px;
  }

  a {
    text-decoration: none;
  }
}

.loading {
  &::before {
    height: 100%;
    opacity: 1;
  }

  .logotext {
    top: 50%;
    left: 50%;
    right: auto;
    margin: (-60px / 2) 0 0 (-348px / 2);
    z-index: 100;
    transform: none;
    background-color: #FFF;

    a {
      pointer-events: none;

      &::before,
      &::after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #FFF;
        transition: width .5s cubic-bezier(0.86, 0, 0.07, 1);
      }

      &::after {
        left: auto;
        right: 0;
        width: 100%;
        transition-duration: .8s;
      }
    }
  }

  &.show {
    .logotext {
      a {
        &::after {
          width: 0;
        }
      }
    }
  }

  &.hide {
    .logotext {
      a {
        &::before {
          width: 100%;
        }
      }
    }
  }
}


.worksList {
  margin-top: 40px;
  width: 100%;
  .worksBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    overflow: hidden;
    img,
    video {
      width: 60%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) skewY(5deg) translateY(50vh);
      transform-origin: 0 0;
      transition: all 1000ms cubic-bezier(.19,1,.22,1) 0ms;
      will-change: transform;
      &.in {
        transform: translateX(-50%) skewY(0deg) translateY(-50%);
      }
      &.out {
        transform: translateX(-50%) skewY(-5deg) translateY(calc(-50% - 100vh));
      }
      &.reset {
        transition: all 0ms;
      }
    }
  }
  ul.worksTitle {
    margin-left: 60px;
    @media (max-width: 768px) {
      width: calc(100% - 170px);
    }
    li {
      font-family: "Druk Wide Web";
      list-style: none;
      font-size: 50px;
      line-height: 1.5em;
      font-weight: 800;
      font-style: italic;
      transform: scale(1,0.7);
      letter-spacing: 2px;
      @media (max-width: 1080px) {
        font-size: 40px;
      }
      @media (max-width: 920px) {
        font-size: 32px;
      }
      a {
        text-decoration: none;
        color: #000000;
        display: inline-block;
        position: relative;
        transition: opacity .5s ease;
        will-change: opacity;
        .scaletext {
          display: block;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0px;
          width: 0;
          height: 5px;
          background-color: #000;
          transition: all .1s ease;
          will-change: transform;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
    &.hovered {
      li {
        a {
          opacity: 0;
          &.on {
            opacity: 1;
          }
        }
      }
    }
  }
}
.profile {
  margin-left: 60px;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 100px;
  position: relative;
  z-index: 10;
  @media (max-width: 1080px) {
    font-size: 40px;
  }
  @media (max-width: 920px) {
    font-size: 32px;
  }
  p {
    line-height: 2.2em;
    font-weight: 800;
    font-style: italic;
    transform: scale(1,0.7);
    letter-spacing: 2px;
    a {
      text-decoration: none;
      color: #000000;
      display: inline-block;
      position: relative;
      text-align: left;

      &::after {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 0;
        width: 0;
        height: 4px;
        background-color: #000000;
        transition: all .1s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
