@charset "utf-8";
@import "normalize";

* {
  margin: 0; padding: 0;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
  &.loading {
    &:before {
      content: attr(data-loading);
      display: block;
      position: absolute;
      top: 40px;
      left: 60px;
      font-size: 50px;
      font-style: italic;
      line-height: 1.2em;
      font-weight: 800;
      letter-spacing: 2px;
      transform: scale(1,0.7);
      @media (max-width: 1080px) {
        font-size: 40px;
      }
      @media (max-width: 920px) {
        font-size: 32px;
      }
    }
  }
}

.logotext {
  position: fixed;
  top: 60px;
  right: 50px;
  width: 60px;
  z-index: 10;
  will-change: transform;
  a {
    img {
      display: block;
    }
  }
}

main {
  opacity: 0;
}

.worksList {
  margin-top: 40px;
  width: 100%;
  .worksBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    overflow: hidden;
    img,
    video {
      width: 60%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) skewY(5deg) translateY(50vh);
      transform-origin: 0 0;
      transition: all 1000ms cubic-bezier(.19,1,.22,1) 0ms;
      will-change: transform;
      &.in {
        transform: translateX(-50%) skewY(0deg) translateY(-50%);
      }
      &.out {
        transform: translateX(-50%) skewY(-5deg) translateY(calc(-50% - 100vh));
      }
      &.reset {
        transition: all 0ms;
      }
    }
  }
  ul.worksTitle {
    margin-left: 60px;
    @media (max-width: 768px) {
      width: calc(100% - 170px);
    }
    li {
      list-style: none;
      font-size: 50px;
      line-height: 1.5em;
      font-weight: 800;
      font-style: italic;
      transform: scale(1,0.7);
      letter-spacing: 2px;
      @media (max-width: 1080px) {
        font-size: 40px;
      }
      @media (max-width: 920px) {
        font-size: 32px;
      }
      a {
        text-decoration: none;
        color: #000000;
        display: inline-block;
        position: relative;
        transition: opacity .5s ease;
        will-change: opacity;
        .scaletext {
          display: block;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0px;
          width: 0;
          height: 5px;
          background-color: #000;
          transition: all .1s ease;
          will-change: transform;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
    &.hovered {
      li {
        a {
          opacity: 0;
          &.on {
            opacity: 1;
          }
        }
      }
    }
  }
}
.profile {
  margin-left: 60px;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 100px;
  position: relative;
  z-index: 10;
  @media (max-width: 1080px) {
    font-size: 40px;
  }
  @media (max-width: 920px) {
    font-size: 32px;
  }
  p {
    line-height: 2.2em;
    font-weight: 800;
    font-style: italic;
    transform: scale(1,0.7);
    letter-spacing: 2px;
    a {
      text-decoration: none;
      color: #000000;
      display: inline-block;
      position: relative;
      text-align: left;

      &::after {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 0;
        width: 0;
        height: 4px;
        background-color: #000000;
        transition: all .1s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
