@charset "utf-8";
@import "normalize";

* {
  margin: 0; padding: 0;
}

@font-face {
  font-family: 'Druk Wide Web';
  src: url('/fonts/DrukWide-HeavyItalic-Web.eot');
  src: url('/fonts/DrukWide-HeavyItalic-Web.eot?#iefix') format('embedded-opentype'),
  url('/fonts/DrukWide-HeavyItalic-Web.woff2') format('woff2'),
  url('/fonts/DrukWide-HeavyItalic-Web.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
}

body {
  background: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.logotext {
  position: relative;
  top: 30px;
  left: 20px;
  right: auto;
  width: 240px;
  transform: none;

  a, img {
    width: 240px;
    height: auto;
  }
}

.loading {
  .logotext {
    position: fixed;
    margin: (-41px / 2) 0 0 (-240px / 2);
  }
}

.worksList {
  margin-top: 150px;
  ul.worksTitle {
    overflow: hidden;
    margin: 0 auto;
    margin-left: 20px;
    width: calc(100% - 40px);
    li {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      list-style: none;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 1.4em;
      font-weight: 500;
      font-style: normal;
      margin-bottom: 15px;
      a {
        text-decoration: none;
        color: #000000;
        display: inline-block;
        position: relative;

        &::after {
          background-color: none;
          display: none;
        }

        &:hover {
          .bgimg {
            display: none;
          }
          &::after {
            display: none;
          }
        }

      }
    }
  }
}
.profile {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
  p {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 2em;
    transform: scale(1,1);
    margin-bottom: 15px;
    a {
      text-decoration: none;
      color: #000000;
      display: inline-block;
      position: relative;
      text-align: left;

      &::after {
        display: none;
      }

      &:hover {
        &::after {
          display: none
        }
      }

    }
  }
}
