@charset "utf-8";
@import "normalize";

* {
  margin: 0; padding: 0;
}

body {
  background: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.logo {
  width: 40px;
  top: -80px;
  margin-top: 0px;
  margin-left: 110px;
  transform: rotate(-90deg);
  float: none;
  position: fixed;
  float: left;
  position: fixed;
}
hr {
  border-top: 1px solid;
  margin-right: 60px;
  width: 90%;
  margin: 0 auto;
}

.worksList {
  margin-top: 100px;
  ul.worksTitle {
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 80px;
    margin: 0 auto;
    width: 90%;
    li {
      list-style: none;
      font-size: 28px;
      line-height: 1.2em;
      font-weight: 800;
      a {
        text-decoration: none;
        color: #000000;
        display: inline-block;
        position: relative;

        &::after {
          background-color: none;
          display: none;
        }

        &:hover {
          &::after {
            width: 0%;
          }
        }

      }
    }
  }
}
.profile {
  font-size: 22px;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
  p {
    line-height: 1.8em;
    font-weight: 500;
    a {
      text-decoration: none;
      color: #000000;
      display: inline-block;
      position: relative;
      text-align: left;

      &::after {
        background-color: none;
      }

      &:hover {
        &::after {
          width: 0%;
        }
      }

    }
  }
}


