@charset "utf-8";
@import "normalize";

* {
  margin: 0; padding: 0;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
  &.loading {
    &:before {
      content: attr(data-loading);
      display: block;
      position: absolute;
      top: 40px;
      left: 60px;
      font-size: 50px;
      line-height: 1.2em;
      font-weight: 400;
      letter-spacing: 2px;
      @media (max-width: 1080px) {
        font-size: 40px;
      }
      @media (max-width: 920px) {
        font-size: 32px;
      }
    }
  }
}

.logotext {
  position: fixed;
  top: 50px;
  left: calc(100% - 50px);
  transform: rotate(90deg);
  transform-origin: 0 0;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #000000;
  z-index: 10;
  will-change: transform;
  a {
    text-decoration: none;
    color: #000000;
  }
}

main {
  opacity: 0;
}

.worksList {
  margin-top: 40px;
  width: 100%;
  .worksBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    img,
    video {
      display: none;
      width: 70%;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      &.show {
        display: block;
      }
    }
    &:before,
    &:after {
      display: block;
      content: " ";
      // opacity: 0.5;
      position: absolute;
      top: 50%;
      margin-top: -50vw;
      width: 100vw;
      height: 100vw;
      z-index: 1;
      background: rgba(255,255,255,1);
      transform: scale3d(1,1,1) translate3d(1px,0px,0px) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.800, -0.005, 0.220, 1.005);
    }
    &:before {
      left: 50%;
      margin-left: -100vw;
      transform-origin: 100% 50%;
    }
    &:after {
      right: 50%;
      margin-right: -100vw;
      transform-origin: 0% 50%;
      transform: scale3d(1,1,1) translate3d(0px,0px,0px) rotate(45deg);
    }
    &.on {
      &:before {
        transform: scale3d(1,1,1) translate3d(-80%,0px,0px) rotate(45deg);
      }
      &:after {
        transform: scale3d(1,1,1) translate3d(80%,0px,0px) rotate(45deg);
      }
    }
  }
  ul.worksTitle {
    margin-left: 60px;
    @media (max-width: 768px) {
      width: calc(100% - 170px);
    }
    li {
      list-style: none;
      font-size: 50px;
      line-height: 1.2em;
      font-weight: 400;
      margin-bottom: 20px;
      letter-spacing: 2px;
      @media (max-width: 1080px) {
        font-size: 40px;
      }
      @media (max-width: 920px) {
        font-size: 32px;
      }
      a {
        text-decoration: none;
        color: #000000;
        display: inline-block;
        position: relative;
        .scaletext {
          display: block;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0px;
          width: 0;
          height: 3px;
          background-color: #000;
          transition: all .1s ease;
          will-change: transform;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
.profile {
  margin-left: 60px;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 100px;
  position: relative;
  z-index: 10;
  @media (max-width: 1080px) {
    font-size: 40px;
  }
  @media (max-width: 920px) {
    font-size: 32px;
  }
  p {
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
    // transform: scale(1 , 0.8);
    a {
      text-decoration: none;
      color: #000000;
      display: inline-block;
      position: relative;
      text-align: left;

      &::after {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #000000;
        transition: all .1s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

// .bgsquare {
//   width: 70%;
//   height: 70vh;
//   margin: 0 auto;
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   margin: auto;
//   border: solid 3px #000;
//   z-index: -9999;
//   display: none;
// }


