---
title: "QRATES"
bgColor: "#F5F4F0"
---
.nextWrapper
  .next
    a href="../Flowers_For_Algernon_New_Edition/index.html"
.PREVWrapper
  .PREV
    a href="../ONE_HUNDRED_PERCENT_ISSUE001/index.html"

.works
  div.worksImg
    a href="https://qrates.com/" target="_blank"
      img src="qrates_logo.jpg" alt="QRATES"
    a href="https://qrates.com/" target="_blank"
      img src="VINYL.jpg" alt="QRATES"
    a href="https://qrates.com/" target="_blank"
      img src="SLEEVE2.jpg" alt="QRATES"
    a href="https://qrates.com/" target="_blank"
      img src="TOP_PC.jpg" alt="QRATES"
.textWrapper
  p.title
    |<span class="maintitle">QRATES</span>
  p.worksText
    |レコード販売とデジタル配信を融合した、新機軸の音楽プラットフォームのデザインを制作。
    <br>資金を先に集めてから、レコードを制作・販売するオンライン・プラットフォーム。ミュージシャンは音源とデザインをアップロードすることで、レコードの予約をファンに向けて募集できる。100枚の少ロットからリスクを負うことなくプレスオーダーが可能になり、今まではコストの高さなどの障壁が高かったレコード制作を身近にした。
    <br>ジャケットのデザインをウェブ上で行うので、できるだけシンプルな操作を目指した。日本語だけでなく英語にも対応し、海外のユーザーも直感的に分かるデザインとなっている。各作品のページでは、レコードのジャケット・デザインがWebGLによって3Dで再現される。
    <br>レコードの質感を活かすために、他の音楽配信サイトとの見た目を差別化した。
  .buttonWrapper
    .LaunchButton
      .buttonText
        a href="https://qrates.com/" target="_blank" Launch Site
