---
title: SHIANBROWN
bgColor: "#F5F4F0"
---
p.title
  a href="../../index.html"
    |<span class="maintitle">ONE HUNDRED PERCENT ISSUE 001</span><span class="back">BACK TO INDEX</span>
.works
  div.worksImg
    a href="http://onehundredpercent.jp/issue001/"
      img src="ohp_top.jpg" alt="pkd_top"
    a href="http://onehundredpercent.jp/issue001/"
      img src="ohp_sp01.jpg" alt="pkd_sp"
    a href="http://onehundredpercent.jp/issue001/"
      img src="ohp_nwa.jpg" alt="pkd_top"
    a href="http://onehundredpercent.jp/issue001/"
      img src="ohp_daimon.jpg" alt="pkd_top"
.textWrapper
  p.worksText
    |webサイトを一冊のZINEとして捉えています。
    <br>このweb Magazineならぬ、web ZINEは自身を形作る経験や感情といったパーソナルな部分と、日々Tumblrやinstagram、Pinterestなどに流れる新しい表現が合流する場所として考えています。
    <br>動機としては、自身の作品を発表する場所が作りたかったこと。  また、作品の制作を通じて交流する場が欲しかったこと。
    <br>まずは、ISSUE 001ということで少し固めにわかりやすくグラフィック的なものが多めです。
  .buttonWrapper
    .LaunchButton
      .buttonText
        a href="http://onehundredpercent.jp/issue001/" target="_blank" Launch Site
